name: PR Open

on:
  pull_request:
    types: [opened, reopened]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: PR Test
      run: |
        echo ${{ github.ref }}
