name: PR Closed

on:
  pull_request:
    types: [closed]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: master

    - name: PR Closed
      run: |
        echo ${{ github.ref }}
