name: PR Test

on:
  pull_request:
    types: [opened, reopened, closed]
    branches:
      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: PR Closed
      if: ${{ github.event_name == 'pull_request' && github.event.action == 'closed' }}

      run: |

        # checkout master branch
        git config pull.ff only
        git fetch --all
        git checkout ${{ github.base_ref }}
        git pull
        
    - name: PR Test1
      run: |
        # test command
        echo "${{ toJson(github.event.pull_request) }}"

    - name: PR Test
      run: |
        # test command
        echo "${{ toJson(github) }}"
