name: PR Open

on:
  pull_request:
    types: [opened, reopened, closed]
    branches:
      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: PR Test
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        ACTION: ${{ github.event.action }}
        BASE_REF: ${{ github.base_ref }}

      run: |

        if "$ACTION" == "closed"
        then
          echo $BASE_REF
        fi
        
        git branch
        echo $ACTION
        echo $GITHUB_CONTEXT
