name: PR Open

on:
  pull_request:
    types: [opened, reopened, closed]
    branches:
      - master

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: PR Closed
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
        ACTION: ${{ github.event.action }}
        BASE_REF: ${{ github.base_ref }}

      if: ${{ env.BASE_REF == 'closed' }}
      
      run: |
        echo "checking out base ref"
        git checkout $BASE_REF
        git pull
        
    - name: PR Test
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

      run: |
        echo $GITHUB_CONTEXT
